<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DT//DTD Mapper 3.0//EN"  "  http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.example.demo.mapper.StudentMapper">
    
    <resultMap id="studentRM" type="com.example.demo.bean.Student">
        <id column="id"  jdbcType="INTEGER" property="id"></id>
        <result column="name" jdbcType="VARCHAR" property="name"></result>
        <result column="c_id"  jdbcType="INTEGER" property="gradeId"></result>
      <result column="age"  jdbcType="INTEGER" property="age"></result>
      <association  property="address" column="AddressId" javaType="com.example.demo.bean.Address" select="com.example.demo.mapper.AddressMapper.select"></association>
     <association  property="grade" column="c_id" javaType="com.example.demo.bean.Grade" select="com.example.demo.mapper.GradeMapper.select"></association>
     </resultMap>
   
   
    <insert id="add"  parameterType="com.example.demo.bean.Student">
    INSERT INTO `student
  `Student_name`,
  `Class_id`,
  `Address_id`,
  `Student_age`
) 
VALUES
  (
    #{id},
    #{name},
    #{gradeId},
    #{addressId},
   #{age}
  ) ;
    </insert>
    
    
     <delete id="delete" parameterType="int">
       DELETE 
      FROM
      `student` 
WHERE `id` = #{id} ;
       </delete>
      
      
       <update id="update"  parameterType="com.example.demo.bean.Student" >
       UPDATE 
  `studnet` 
SET
  `Student_id` = #{id},
  `Student_name` = #{name},
   `Class_id` =  #{gradeId},
   `Address_id` = #{addressId},
  `Student_age` = #{age} 
WHERE `Student_id` = #{id} ;
       </update>
      
      
       <select id="select"  parameterType="int" resultMap="studentRM">
       select * from `student` where Student_id = #{id}
      </select>
       
       
       <select id="selectByClass_id"  parameterType="int" resultMap="studentRM">
      select * from `student` where class_id=#{id}
       </select>
     
     
      <select id="selectByNameAndId"  parameterType="Map" resultMap="studentRM">
      select * from `student` <where>
      <if test="name!=null">
          Student_name=#{name}
      </if>
      <if test="id!=null">
           and  Student_id=#{id}
      </if>
      </where>
       </select>
       
  <delete id="deleteByAddressId"  parameterType="Map" >
       DELETE 
      FROM
      `student`
      where
      Address_id in
      <foreach item="d" collection="List" open="(" separator="," close=")">
      #{d}
      </foreach>
  </delete>
<!--   <select id="selectByList"  parameterType="List"  resultMap="studentRM">
   SELECT *
      FROM
      `studnet`
      where
      Student_id  in
      <foreach item="id" collection="list" open="(" separator="," close=")">
      #{id}
      </foreach>
  </select> -->
  <select id="selectByList" resultMap="studentRM">
   SELECT *
      FROM
      `student`
  </select>
        
 </mapper> 